Repository jacksonblankenship/node-starter: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore: update dev deps
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: update deps
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat: replace ts-node with tsx
  .tool-versions
  .vscode/settings.json
  package.json
  pnpm-lock.yaml
  src/index.ts
  src/utils/env.ts
  tsconfig.json
Due: eslint --fix, prettier --write

feat: remove pino
  .vscode/settings.json
  package.json
  pnpm-lock.yaml
  src/index.ts
  src/utils/logger.ts
Due: eslint --fix, prettier --write

feat: improve example console log
  src/index.ts
Due: eslint --fix, prettier --write

refactor: remove logs directory
  logs/.gitkeep
Due: none

docs: update readme
  README.md
Due: none

chore: update deps
  .husky/pre-commit
  package.json
  pnpm-lock.yaml
Due: prettier --write

ci: update husky config
  .husky/pre-commit
  package.json
Due: prettier --write

chore: update eslint and node
  .eslintignore
  .eslintrc.cjs
  .prettierrc.mjs
  .tool-versions
  .vscode/settings.json
  eslint.config.js
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

cleanup some small things
  .vscode/settings.json
  eslint.config.js
Due: prettier --write

feat: use rollup for builds
  package.json
  pnpm-lock.yaml
  rollup.config.mjs
  tsconfig.json
Due: eslint --fix, prettier --write

refactor: move from node to bun
  .husky/pre-commit
  .lintstagedrc
  .mise.toml
  .npmrc
  .prettierrc.mjs
  .tool-versions
  .vscode/settings.json
  README.md
  biome.json
  bun.lock
  eslint.config.js
  lint-staged.config.ts
  package.json
  pnpm-lock.yaml
  rollup.config.mjs
  tsconfig.json
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,mjs,cjs}
  prettier --write: any of: *.{ts,mjs,cjs,json}
